@font-face {
   src: url(../fonts/google-font/Poppins-Bold.ttf);
   font-family: Poppins-Bold;
}

/* @font-face {
   src: url(../fonts/google-font/Montserrat-Regular.ttf);
   font-family: Montserrat-Regular;
} */


h1 {
   font-family: Poppins-Bold;

}

.package-para-color {
   color: #848199;
}

h2,
h3,
h4,
h5 {
   font-family: Poppins-Bold;
   color: #231D4F;
   /* font-size: 2.5rem; */
}

p {
   font-family: Montserrat-Regular;
   font-size: 1.1rem;
}
.country{
   border: 2px solid goldenrod;
   background-color: aquamarine;
   border-radius: 20px;
   padding: 20px;
}
.country img{
   width: 200px;
   height: 100px;
}
.cards{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
}